<a href="https://colab.research.google.com/github/rohitLanjewar03/Machine-Learning/blob/main/ML_P02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
filepath = r"/content/studentData.csv"
df = pd.read_csv(filepath)
print(df.head())

   Roll No.  Subject 1  Subject 2  Subject 3
0         1         82         78         78
1         2         89         54         54
2         3         96        100         98
3         4         84         89         58
4         5         75         78         57

In [ ]:
def calculate_total(row): return row['Subject 1'] + row['Subject 2'] + row['Subject 3']
df['Total Score'] = df.apply(calculate_total, axis=1)
print(df.head())

   Roll No.  Subject 1  Subject 2  Subject 3  Total Score
0         1         82         78         78          238
1         2         89         54         54          197
2         3         96        100         98          294
3         4         84         89         58          231
4         5         75         78         57          210

In [ ]:
new_filepath = r"/content/updatedStudentData.csv"
df.to_csv(new_filepath, index=False)
print(f"Updated data exported to {new_filepath}")

Updated data exported to /content/updatedStudentData.csv